@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);


/* ----- Layout ----- */
* {
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.flex-hor { display: flex; flex-flow: row; }
.flex-ver { display: flex; flex-flow: column; }
.transition { transition: all 0.2s linear; }



/* ----- Style ----- */
* {
    font-family: 'Open Sans', Arial;
    font-weight: 300;
}

.hidden { visibility: hidden; }
.pressable:hover { cursor: pointer; }