/* --- Layout --- */
.container {
    width: 1440px;
}

.col {
    height: 100%;
}

.main-row {
    height: 500px;
}

.main-row .col { padding: 0px 2px; }
.main-row .module {
    height: 100%;
    
    border-radius: 8px;
}


/* --- Style --- */
body {
    background-color: #303030;
}

.module {
    background-color: white;
}