/* ----- Layout ----- */
body {
    align-items: center;
    justify-content: center;
}

.app-name {
    position: relative;
}

.auth-module {
    width: 320px;
    
    top: -40px;
    position: relative;
}

.module-tabs {
    height: 70px;
}
.module-tab {
    width: 50%;
    display: inline-block;
}

.auth-forms { height: 320px; }
.auth-forms.extended { height: 400px; }

.auth-form {
    height: 100%;
    padding: 0px 18px;
    
    left: 0px;
    right: 0px;
    position: absolute;
}

.auth-input { margin: 20px 0px; }
.auth-textfield { height: 40px; }
.auth-subinput { display: inline-block; }

.auth-button {
    width: 100%;
    height: 70px;
    
    font-size: 20px;
    
    bottom: 0px;
    position: absolute;
}

#message { 
    height: 25px;
    margin-top: -20px;
}



/* ----- Style ----- */
body {
    background-color: #303030;
}

.app-name {
    color: #3BBEAF;
    font-size: 112px;
}

.auth-module {
    background-color: #F5F5F5;
}

.module-tab {
    color: #3BBEAF;
    
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 380%;
}
.module-tab:nth-child(2n+1) {
    border-right: 1px solid #C8C8C8;
}
.module-tab.unselected {
    color: rgba(59, 190, 175, 0.5);
    border-bottom: 1px solid #C8C8C8;
}

.auth-label {
    color: #3BBEAF;
    font-size: 16px;
}

.auth-textfield {
    border: none;
    border-left: 2px solid #3BBEAF;
    
    font-size: 16px;
    padding-left: 10px;
}

.auth-sublabel { text-align: right; }
.auth-subinput {
    color: #3BBEAF;
    font-size: 14px;
}
.auth-subinput:hover { color: #2f9186; }

.auth-button {
    border: none;
    color: white;
    background-color: #3BBEAF;
}
.auth-button:hover { background-color: #2f9186; }


#message { color: #ff7575; }